<style>
    #crud {max-width: 1000px}
</style>
<div id="crud">

    <!-- Create a new CRUD component -->
    <aui-crud v-bind="options">

        <!-- List title -->
        <template #list-title>Test List</template>

        <!-- List buttons -->
        <template #list-buttons>
            <aui-button>
                <i class="fas fa-table-tennis"></i>
            </aui-button>
        </template>

        <!-- Form page -->
        <template #form="{ form, error, overlay }">

            <div class="col-2">
                <aui-input
                    label="name"
                    :failure="error.name"
                    :disabled="overlay"
                    v-model="form.name"
                ></aui-input>
                <aui-input
                    label="description"
                    :failure="error.description"
                    :disabled="overlay"
                    v-model="form.description"
                ></aui-input>
            </div>

        </template>

        <!-- Test page -->
        <template #test>
            <p>I'm on the test page!</p>
        </template>

    </aui-crud>

</div>